# Ignore Windows system directories
Application Data/
Cookies/
Local Settings/
My Documents/
NetHood/
PrintHood/
Recent/
SendTo/
Start Menu/
Templates/

# Ignore NTUSER files
NTUSER.DAT
NTUSER.DAT*
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini

# Ignore common personal directories
../AppData/
../Documents/
../Downloads/
../Music/
../Pictures/
../Videos/
